# Core
Django>=6.0
psycopg2-binary
python-decouple

# Frontend
django-htmx
django-crispy-forms
crispy-tailwind

# Admin
django-unfold
django-two-factor-auth
django-axes
django-simple-history

# Tasks
celery
redis

# API
djangorestframework
drf-spectacular

# Testes
pytest
pytest-django
factory-boy
pytest-cov

# Utilidades
python-money
django-filter
Pillow